<!-- Start Funder Bg -->
<div class="funder">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="funder">
                    <h1 align=center>The afrimapr project is funded through the </h2>
                    <h1 align=center><a href="https://wellcome.ac.uk/funding/schemes/open-research-fund">Wellcome Open Research Fund</a> and <a href="https://wellcome.org/what-we-do/our-work/data-science-and-health-trustworthy-data-science">Wellcome Data for Science and Health</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
